<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <div th:each="snippet: ${snippets}">
            <span id="load_date" th:text="${snippet.date}"></span>
            <span id="time_restriction" th:text="${snippet.time}" th:if="${not snippet.timeEndless}"></span>
            <span id="views_restriction" th:text="${snippet.views}" th:if="${not snippet.viewsEndless}"></span>
            <pre id="code_snippet"><code th:text="${snippet.code}"></code></pre>
        </div>
    </body>
</html>